@import '../../../styles/variables';
@import '../../../styles/mixins';

$cardRadius: 6px;

.card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: fit-content;

  border-radius: $cardRadius;
  background-color: var(--backgroundColor-lighter);
  box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;

  // font-weight: bold;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  div.card-title {
    border-radius: $cardRadius;
    cursor: pointer;

    .card-labels-list {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .textares__wrap {
    width: 100%;
    border-radius: 12px 12px $cardRadius $cardRadius;
    background-color: var(--backgroundColor-darker);

    .card-labels-list {
      padding: 8px;
      padding-bottom: 0;
    }
  }

  .card-cover {
    position: relative;

    width: 100%;
    height: 32px;
    border-radius: $cardRadius $cardRadius 0 0;

    &__small {
      // display: none;
      // height: 16px;
      ~ .card-labels-list {
        position: absolute;
        top: 0;
        left: 0;

        .label {
          box-shadow: 0 2px 2px #091e4240, 0 0 2px #091e424f;
        }
      }
    }
  }

  .card-labels-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    z-index: 1;

    width: 100%;
    margin-bottom: 8px;
    padding: 8px;

    &:hover ~ .edit-card-btn {
      display: none;
    }

    .label {
      display: block;
      width: calc(25% - 4px * 3 / 4);
      height: 8px;
      border-radius: 4px;
      cursor: pointer;
    }
    .extend-label {
      height: 16px;
    }
    .label:hover {
      filter: saturate(85%) brightness(85%);
    }
  }

  .card-title {
    width: 100%;
    margin-bottom: 0;
    resize: none;
    overflow-wrap: break-word;

    position: relative;

    border: none;
    outline: none;
    border-radius: $cardRadius;
    background-color: inherit;

    font-size: 1.6rem;
    color: var(--textColor);

    p {
      margin-bottom: 0;
      padding: 8px;
      vertical-align: middle;
    }
  }

  &:hover {
    background-color: var(--backgroundColor-darker);
  }

  &:hover .edit-card-btn {
    display: block;
    padding: 0;
    opacity: 0.8;
  }

  .edit-card-btn {
    display: none;

    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;

    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 6px;

    background-color: var(--cardEditBtn-bgColor);

    font-size: 1.4rem;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
      opacity: 1;
    }
  }
}

.card-wrap .setting-box {
  display: flex;
  flex-direction: column;
  gap: 4px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 8px));
  z-index: 1;

  .setting-item {
    justify-content: start;

    width: fit-content;
    border-radius: 3px;
    background-color: rgba($color: #454545, $alpha: 0.8);
    color: #b6c2cf;

    &:hover {
      background-color: #454545;
      transform: translateX(5%);
      transition: 0.1s;
    }
    &:hover:not(.remove-column-btn) {
      color: white;
    }
  }
  .remove-column-btn {
    color: var(--bs-danger);
  }
}

.card-editing {
  padding: 0;
  z-index: 10;

  .card-title {
    height: 100%;
    padding: 8px;
    // border-radius: 0 0 $cardRadius $cardRadius;
    overflow: hidden;
    background-color: var(--backgroundColor-darker);
  }

  .save-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 8px));

    width: 90px;
    height: 32px;
    border: none;
    border-radius: 4px;

    background-color: var(--createBoardBtn-bgColor);
    color: var(--backgroundColor);
  }

  .black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
}

.task-dates-display {
  padding: 4px;
  .task-date {
    padding: 3px 4px;
    border-radius: 3px;

    color: var(--cardDate-textColor);
    font-size: 1.2rem;
    background-color: var(--cardDate-bgColor);

    &:nth-of-type(2) {
      margin-left: 4px;
    }
  }
}
