@import '../../../styles/variables';
@import '../../../styles/mixins';

.card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  // min-height: 40px;
  height: fit-content;
  padding: 4px;

  border-radius: 6px;
  background-color: var(--backgroundColor-lighter);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  .card-title {
    width: 100%;
    margin-bottom: 0;
    resize: none;
    overflow-wrap: break-word;
    padding: 4px;

    position: relative;

    border: none;
    outline: none;
    background-color: inherit;

    font-size: 1.6rem;
    color: var(--textColor);

    p {
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  &:hover .edit-card-btn {
    display: block;
    padding: 0;
    opacity: 0.8;
  }

  .edit-card-btn {
    display: none;

    position: absolute;
    right: 0;
    top: 0;

    width: 30px;
    height: 30px;
    padding: 0;

    background-color: var(--backgroundColor-darker);

    font-size: 1.4rem;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
      opacity: 1;
    }
  }
}

.card-wrap .setting-box {
  @include menuBox;

  top: 0;
  right: 0;
  transform: translateX(calc(100% + 8px));
}

.card-editing {
  padding: 0;
  z-index: 10;

  .card-title {
    padding: 8px;
    border-radius: 6px;
    overflow: hidden;
  }

  .save-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 8px));

    width: 90px;
    height: 32px;
    border: none;
    border-radius: 4px;

    background-color: var(--createBoardBtn-bgColor);
    color: var(--backgroundColor);
  }

  .black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Đặt màu đen với độ mờ phủ (opacity) 0.7 */
    z-index: -1; /* Đảm bảo lớp đen mờ phủ nằm bên dưới các card */
  }
}
