@import '../../../styles/variables';
@import '../../../styles/mixins';

.card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 40px;
  padding: 8px;

  border-radius: 6px;
  background-color: var(--backgroundColor-lighter);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  .card-title {
    margin-bottom: 0;

    font-size: 1.6rem;
  }

  &:hover .edit-card-btn {
    display: block;

    padding: 0;
  }

  .edit-card-btn {
    display: none;

    width: auto;
    height: 100%;
    padding: 0;

    background-color: transparent;

    font-size: 1.4rem;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
}

.card-wrap .setting-box{
  @include menuBox;

  top: 80%;
  right: -115%;
}