@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
  @include background-img;

  position: relative;

  height: calc(100vh - $header-height);
  padding: 16px;

  overflow-x: scroll;

  .dark-mode-layer {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
.columns-list {
  display: flex;
  gap: 12px;

  > * {
    min-width: 272px;
    border-radius: 12px;
  }

  .add-column-btn {
    justify-content: start;

    height: 48px;

    color: #b6c2cf;
    background-color: rgba($color: white, $alpha: 0.2);

    &:hover {
      background-color: rgba($color: white, $alpha: 0.4);
    }
  }
}
.add-column-form {
  height: fit-content;
  padding: 8px;

  border-radius: 12px;
  background-color: var(--backgroundColor);
}
