@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
  @include background-img;

  position: relative;

  height: calc(100vh - $header-height);
}
.columns-list {
  display: flex;
  gap: 12px;

  height: calc(100vh - $header-height - $subBoardHeader-height);
  padding: 16px;
  overflow-x: scroll;

  > * {
    min-width: 272px;
    max-width: 272px;
    border-radius: 12px;
  }

  .add-column-btn {
    justify-content: start;

    height: 48px;

    color: var(--textColor);
    background-color: var(--subBoardHeader-bgColor);

    &:hover {
      background-color: var(--backgroundColor-lighter);
    }
  }
}
.add-column-form {
  height: fit-content;
  padding: 8px;

  border-radius: 12px;
  background-color: var(--backgroundColor);
}

.dark-layer {
  position: relative;
}

.dark-layer::before {
  content: '';
  position: absolute;
  top: $subBoardHeader-height;
  left: 0;

  width: 100%;
  height: calc(100% - $subBoardHeader-height);
  background-color: rgba(0, 0, 0, 0.4); /* Màu nền với độ mờ phủ (opacity) 0.5 */
  pointer-events: none;
}
