@import '../../../styles/variables';

.wrapper {
  margin: 0px auto;
  width: 100%;
  height: 100vh;
  padding: 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-image: url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.466/static/media/trello-left.7317ad1f.svg),
    url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.466/static/media/trello-right.16b9c9bb.svg);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: 368px, 368px;
  background-position: left bottom, right bottom;

  .linkToLadingPage {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

    color: #4a8af9;
    font-weight: bold;
  }
}
.logo {
  z-index: 100;
  overflow: hidden;
  margin: 0px auto;
  max-height: 80px;
}
.logoTxt {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.errTxt {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: auto;
  white-space: break-spaces;
}

.container {
  height: fit-content;
  margin: 0px auto;
  padding: 3.6rem;
  background-color: var(--logIn--bgColor);
  color: var(--textColor) !important;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 50px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.btn {
  background-color: #4a8af9;
  color: var(--logIn-btnTextColor);
  font-weight: 500;
  border: 0;
  padding: 10px 0px;
  width: 100%;
  border-radius: 4px;
  font-size: 1.6rem;
  transition: background-color 0.2s ease 0s;
  margin-bottom: 8px;

  &:hover {
    opacity: 0.75;
  }
}
.infoText {
  position: relative;
  text-decoration: none;
  color: var(--textColor) !important;

  .nav {
    color: #4a8af9;
    font-weight: bold;
  }
}
.infoText:hover {
  opacity: 0.75;
}

.orText {
  position: relative;

  width: 100%;
  height: 24px;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    height: 1px;
    width: 100%;
    background-color: #383838;
  }
  span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    display: block;
    padding: 0 8px;
    background-color: white;
  }
}
.myform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
}
.info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1.5rem;
  max-width: 100%;
}
.error {
  color: red;
  word-wrap: break-word;
}

.formLabel {
  display: none;
}

.formInput {
  flex-grow: 1;
  color: var(--textColor) !important;
  border: none !important;
  display: block;
  padding: 12px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  background-color: inherit;
  border-radius: 4px;
}

.fieldControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--lineColor);
  color: var(--textColor);
  font-size: 1.5rem;
  border-radius: 4px;
  position: relative;
}

.fieldControl:has(
    input[type='password']:focus,
    input[type='text']:focus,
    input[type='email']:focus
  ) {
  border-color: 1px solid var(--headerSearchInput-outlineColor) !important;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  background-color: var(--backgroundColor) !important;
}

.viewpwIcon {
  height: 100%;
  width: fit-content;
  padding: 0px 12px;

  &:hover {
    cursor: pointer;
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    display: flex;
    align-items: center;
    gap: 12px;

    height: 56px;
    padding-left: 16px;
    border: 1px solid #383838;

    background-color: transparent;
    color: #383838;
  }
}

@media all and (min-width: 768px) {
  .container {
    width: 440px;
  }
}

@media all and (max-width: 500px) {
  .socialMedia {
    display: block;
  }
}
