@import '../../styles/variables';

.wrapper {
  padding: 50px;
  width: max-content;
  // height:max-content;
  height: calc(100vh - $header-height);
  margin: 0 auto;

  .theme-top {
    width: 100%;
    .theme-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
      }

      .theme-form {
        display: flex;
        align-items: center;
        border: 1px solid #091e4224;
        background-color: #ffffff;
        width: 230px;
        height: 50px;

        input {
          border: none;
          outline: none;
          padding-left: 10px;
        }

        svg {
        }
      }
    }

    .theme-list-categories {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding-top: 30px;
      width: 100%;

      li {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: 0.3s;
      }

      li:hover {
        transform: scale(1.2);
      }

      li img {
        gap: 10px;
        width: 104px;
        height: 104px;
        border-radius: 6px;
      }

      li span {
        font-size: 12px;
        line-height: 16px;
        color: #44546f;
      }
    }
  }
}

// line-height: 24px;
// font-size: 16px;
