@import '../../styles/variables';

.wrapper__sidebarOpen {
  margin-left: 280px;
  width: calc(100% - 280px);
}

.wrapper {
  display: flex;
  justify-content: center;

  padding-top: 50px;
  height: calc(100vh - $header-height);

  .core {
    max-width: 960px;
    min-width: 960px;
  }

  .theme-top {
    width: 100%;
    .theme-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
      }

      .theme-form {
        display: flex;
        align-items: center;
        border: 1px solid #091e4224;
        background-color: #ffffff;
        width: 230px;
        height: 50px;

        input {
          border: none;
          outline: none;
          padding-left: 10px;
        }
      }
    }

    .theme-list-categories {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 80px;
      padding-top: 80px;
      padding-left: 0;

      > * {
        width: calc(25% - 80px * 3 / 4);
        transition: 0.3s;
      }

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      li:hover {
        transform: scale(1.2);
      }

      li img {
        gap: 10px;
        width: 100%;
        height: auto;
        border-radius: 6px;
      }

      li span {
        font-size: 16px;
        line-height: 16px;
        color: #44546f;
      }
    }
  }
}
