@import '../../styles/variables';
@import '../../styles/mixins';

.prevImgTemplate {
  @include background-img;
  position: relative;
  height: calc(100vh - $header-height);
}
.useBtn{
    width: 100%;
    border: none;
    outline: none;
    transition: .7;
}
.useBtn .button:hover{
    background: transparent;
    
}