// Mixin cho light mode
@mixin light-theme {
  --textColor: #383838;
  --textColorOpposition: #172b4d;
  --lineColor: hsla(218, 54%, 19.6%, 0.16);
  --backgroundColor: white;
  --sidebar-bgColor: rgba(255, 255, 255, 0.8);
  --backgroundColor-darker: #f6f5f5;
  --backgroundColor-lighter: rgb(232, 234, 234);
  --createBoardBtn-bgColor: #0c66e4;
  --headerSearchInput-outlineColor: #0055cc;
  --createFormInput-borderBlueColor: #388bff;
  --createFormInput-borderRedColor: #e34935;
  --createFormBackLayer-bgColor: rgba(191, 191, 191, 0.75);
  --subBoardHeader-bgColor: rgba(197, 197, 197, 0.7);
  --cardEditBtn-bgColor: #c9cccf;
  --logIn--bgColor: #fff;
  --logIn--textColor: #000113;
  --logIn-btnBgColor: #000113;
  --logIn-btnTextColor: #fff;
  --logIn-info: #64748b;
  --logIn-wraper: #fff;
  color: var(--textColor);
}

// Mixin cho dark mode
@mixin dark-theme {
  --textColor: #fafafa;
  --textColorOpposition: #eee;
  --lineColor: hsla(211, 18%, 68%, 0.16);
  --backgroundColor: #22262a;
  --sidebar-bgColor: rgba(27, 27, 27, 0.8);
  --backgroundColor-darker: #343a3f;
  --backgroundColor-lighter: #3f484f;
  --createBoardBtn-bgColor: #579dff;
  --headerSearchInput-outlineColor: #85b8ff;
  --createFormInput-borderBlueColor: #85b8ff;
  --createFormInput-borderRedColor: #ef5c48;
  --createFormBackLayer-bgColor: rgb(0, 0, 0, 0.4);
  --subBoardHeader-bgColor: rgba(27, 27, 27, 0.8);
  --cardEditBtn-bgColor: #1d1e1f;
  --logIn--bgColor: #000113;
  --logIn--textColor: #ccc;
  --logIn-btnBgColor: #334155;
  --logIn-btnTextColor: #fff;
  --logIn-info: #94a3b8;
  --logIn-wraper: #334155;

  color: var(--textColor);
  background-color: var(--backgroundColor);
}

@mixin background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin menuBox {
  position: absolute;
  z-index: 1;

  width: 304px;
  padding: 16px;
  border: 1px solid var(--lineColor);
  border-radius: 12px;

  background-color: var(--backgroundColor);

  .box-title {
    h4 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
    }

    button.close-settingbox-btn {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }

  .setting-part {
    &:not(:last-child) {
      border-bottom: 1px solid var(--lineColor);
      margin-bottom: 8px;
    }

    > * {
      justify-content: start;

      width: 100%;
    }
  }

  .remove-column-btn {
    color: var(--bs-danger);
  }
}
