// Mixin cho light mode
@mixin light-theme {
  --textColor: #172b4d;
  --lineColor: hsla(218, 54%, 19.6%, 0.16);
  --backgroundColor: white;
  --backgroundColor-darker: #f6f5f5;
  --backgroundColor-lighter: rgb(232, 234, 234);
  --createBoardBtn-bgColor: #0c66e4;
  --headerSearchInput-outlineColor: #0055cc;
  --createFormInput-borderBlueColor: #388bff;
  --createFormInput-borderRedColor: #e34935;
  --createFormBackLayer-bgColor: rgb(255, 255, 255, 0.75);

  color: var(--textColor);
}

// Mixin cho dark mode
@mixin dark-theme {
  --textColor: #b6c2cf;
  --lineColor: hsla(211, 18%, 68%, 0.16);
  --backgroundColor: #22262a;
  --backgroundColor-darker: #343a3f;
  --backgroundColor-lighter: #3f484f;
  --createBoardBtn-bgColor: #579dff;
  --headerSearchInput-outlineColor: #85b8ff;
  --createFormInput-borderBlueColor: #85b8ff;
  --createFormInput-borderRedColor: #ef5c48;
  --createFormBackLayer-bgColor: rgb(0, 0, 0, 0.4);

  color: var(--textColor);
  background-color: var(--backgroundColor);
}

@mixin background-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
