@import 'normalize.css';
@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;

  text-decoration: none;
}
ul {
  list-style: none;
}
button,
input {
  color: inherit;
}
html {
  font-size: 62.5%;
}
body {
  @include light-theme;

  position: relative;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
body.dark-mode {
  @include dark-theme;
}
.container {
  width: 100%;
}
.main-container {
  width: 100%;
  margin-top: 40px;
}
