@import 'normalize.css';
@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;

  text-decoration: none;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

button,
input {
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  @include light-theme;

  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

body.dark-mode {
  @include dark-theme;
}

.site-container {
  width: 100%;
  // max-width: 1236px;
  height: 100%;

  main {
    position: relative;
    overflow-y: auto;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    // max-width: 1236px;
    // margin: 0 auto;
  }
}

// Layouts
.site-main-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1 1 0%;
  position: relative;
  overflow-y: auto;

  .site-sidebar {
    width: 16px;
    min-height: 100%;
    height: calc(100vh - $header-height);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s;

    border-right: 1px solid var(--lineColor);
    background-color: var(--sidebar-bgColor);

    &.open {
      width: 280px;
    }
  }

  .site-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    overflow-y: auto;

    // padding-left: 16px;

    .site-content {
      flex-grow: 1;
      outline: none;
      overflow-y: auto;
      position: relative;
    }
  }
}
