@import 'normalize.css';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;

  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

