.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 515px;
    background-color: transparent;

    .carousel-img {
        width: 800px;
        padding: 20px 20px 0px 0px;
      }

    .carousel-item-text{
        font-size: 1.8rem;
        margin: 40px 0 40px 0;
        padding: 0 0 0 70px;
        white-space: normal;
        display: flex;
        flex-direction: column;
        align-items: start;
        h3{
          font-weight: 800;
          font-size: 2rem;
        }
      }
  }
  @media screen and (max-width: 991px){
    .carousel-item {
      height: 100%;
      .carousel-img {
          width: 400px;
          padding: 20px 20px 0px 0px;
        }
  
      .carousel-item-text{
          font-size: 1.8rem;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 20%;
          h3{
            font-weight: 600;
            font-size: 1.8rem;
          }
          p{
            font-weight: 500;
            font-size: 1.2rem;

          }
        }
    }
  }