.wrapper {
    display: flex;
  
    max-width: 1236px;
    margin: 0 auto;
    padding-top: 40px;
  
    .sideBar {
      width: 25%;
      min-height: 700px;
    }
  
    .sideBody {
      width: 75%;
  
      padding: 16px;
    }
  }