@import '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;

  height: 48px;
  padding: 8px;
  border-bottom: 1px solid var(--lineColor);

  > * {
    display: flex;
  }
}
.menu {
  gap: 12px;

  .createBtn {
    background-color: var(--createBoardBtn-bgColor);
    color: white;
  }
}
.setting {
  gap: 4px;

  .inputBar__wrap {
    position: relative;

    height: 100%;
  }

  .settingBtn {
    width: 32px;
    height: 32px;
    padding: 8px;
  }
}

.inputBar__wrap .inputBar {
  display: flex;

  height: 100%;
  border: 1px solid var(--lineColor);
  border-radius: 4px;

  button {
    background-color: none;

    &:hover {
      background-color: unset;
    }
  }
  input {
    flex-grow: 1;

    border: none;
    border-radius: 4px;
    outline: none;

    background-color: inherit;
  }
}

.inputBar__wrap .focusInput {
  position: absolute;
  right: 0;
  z-index: 1;

  width: 778px;
  border-color: #0055cc;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);

  background-color: inherit;
}
