@import '../../styles/mixins';

// Main form
.backLayer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-color: var(--createFormBackLayer-bgColor);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  width: 334px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--lineColor);
  box-shadow: 0px 8px 12px var(--lineColor), 0px 0px 1px var(--lineColor);
  z-index: 1;

  background-color: var(--backgroundColor-darker);

  h4 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }

  .closeFormBtn {
    position: absolute;
    right: 4px;
    top: 4px;
  }
}
.boardWhiteFrame {
  border-radius: 4px;

  background-size: cover;
  background-position: center;

  text-align: center;

  img {
    padding: 16px 0;
    margin-bottom: 0;

    vertical-align: middle;
  }
}
.background {
  > *:not(h5) {
    display: flex;
    gap: 6px;
  }
  h5 {
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 1.4rem;
  }
  .images {
    margin-bottom: 6px;
  }
  .images > * {
    display: block;

    width: calc(25% - 6px * 3 / 4);
    height: 40px;
    border-radius: 3px;

    background-size: cover;
    background-position: center;

    cursor: pointer;
  }
  .colors-mono > * {
    display: block;

    width: calc(16.67% - 6px * 5 / 6);
    height: 32px;
    border-radius: 3px;

    cursor: pointer;
  }
  .colors-mono .moreBackgroundBtn {
    background-color: var(--backgroundColor-lighter);
  }
}
.bgSelectBox {
  position: relative;

  svg {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
  }
}
.boardTitle {
  display: flex;
  flex-direction: column;

  margin-top: 8px;

  h5 {
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 1.4rem;
  }

  input {
    height: 40px;
    padding: 12px 8px;
    border-radius: 3px;
    outline: none;

    border-width: 2px;
    border-color: var(--lineColor);
    background-color: var(--backgroundColor-darker);

    &:focus {
      box-shadow: 0 0 0 3px var(--createFormInput-borderBlueColor);
      border: none;
    }
  }

  .requied:focus {
    box-shadow: 0 0 0 3px var(--createFormInput-borderRedColor);
    border: none;
  }

  p {
    margin-top: 4px;

    font-size: 1.4rem;
    font-style: italic;
  }
}
.formBtn {
  height: 40px;

  background-color: var(--backgroundColor-lighter);
}

// Sub form

.backgroundForm {
  top: 50%;
  transform: translate(47.5%, -50%);

  .backBtn {
    position: absolute;
    left: 4px;
    top: 4px;
  }

  .closeBtn {
    position: absolute;
    top: 4px;
    right: 4px;
  }
  .bgSelectBox {
    border-radius: 3px;
  }
}
.backgroundForm .title {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 8px;

  h5 {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .seeMoreBtn {
    font-size: 1.4rem;
    background-color: var(--backgroundColor-lighter);
  }
}
.backgroundForm .images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .bgSelectBox {
    width: calc(33.33% - 8px * 2 / 3);
    height: 56px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.backgroundForm .showMoreImageBg {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  > * {
    width: calc(50% - 12px / 2);
    height: 73px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.backgroundForm .showMoreColorBg {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &:first-of-type {
    padding-bottom: 16px;
    margin-bottom: 4px;
    border-bottom: 2px solid var(--lineColor);
  }

  > * {
    width: calc(33.33% - 8px * 2 / 3);
    height: 56px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
