@import '../../styles/mixins';

.backLayer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-color: var(--createFormBackLayer-bgColor);
}
.wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  width: 334px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--lineColor);
  box-shadow: 0px 8px 12px var(--lineColor), 0px 0px 1px var(--lineColor);
  z-index: 1;

  background-color: var(--backgroundColor-darker);

  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
.boardWhiteFrame {
  border-radius: 4px;

  background-size: cover;
  background-position: center;

  text-align: center;

  img {
    padding: 16px 0;
    margin-bottom: 0;

    vertical-align: middle;
  }
}
.background {
  > *:not(h5) {
    display: flex;
    gap: 6px;
  }
  h5 {
    margin-bottom: 4px;
  }
  .images {
    margin-bottom: 6px;
  }
  .images > * {
    display: block;

    width: calc(25% - 6px * 3 / 4);
    height: 40px;
    border-radius: 3px;

    background-size: cover;
    background-position: center;

    cursor: pointer;
  }
  .colors-mono > * {
    display: block;

    width: calc(16.67% - 6px * 5 / 6);
    height: 32px;
    border-radius: 3px;

    cursor: pointer;
  }
  .colors-mono .moreBackgroundBtn {
    background-color: var(--backgroundColor-lighter);
  }
}
.boardTitle {
  display: flex;
  flex-direction: column;

  margin-top: 8px;

  h5 {
    margin-bottom: 4px;
  }

  input {
    height: 40px;
    padding: 12px 8px;
    border-radius: 3px;
    outline: none;

    border-width: 2px;
    border-color: #091e4224;

    &:focus {
      box-shadow: 0 0 0 3px var(--createFormInput-borderBlueColor);
      border: none;
    }
  }

  .requied:focus {
    box-shadow: 0 0 0 3px var(--createFormInput-borderRedColor);
    border: none;
  }
}
.formBtn {
  height: 40px;

  background-color: var(--backgroundColor-lighter);
}
