.loading {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  perspective: 800px;
  animation: dot-flasing 1s linear infinite;

}
@keyframes dot-flasing {
  0% {
    background-color: #9880ff;
  }

  50%, 100% {
    background-color: #ebe6ff;
  }
}

.dot-flasing {
  display: flex;
  justify-content: center;
}

.dot-flasing > div {
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #9880ff;
  animation: dot-flasing .8s infinite alternate;
}

.dot-flasing > div:first-child {
  animation-delay: 0s;
}

.dot-flasing > div:nth-child(2) {
  animation-delay: .2s;
}

.dot-flasing > div:nth-child(3) {
  animation-delay: .4s;
}

.dot-flasing > div:last-child {
  animation-delay: .6s;
}