.sidebar-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(232, 228, 228, 0.4);

    .sidebar-icon {
        position: absolute;
        top: 12px;
        right: -12px;
        width: 24px;
        height: 24px;
        transition: ease-in-out .2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

        &.open {
            right: 12px;
        }


    }
}

.sidebar-container {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding: 24px 12px;
    height: 100%;

    &.open {
        display: flex;
    }

    .divider {
        width: 100%;
        height: 1px;
        background: #000;
        margin: 16px 0;
    }

    .sidebar-top {
        font-weight: bold;
    }

    .sidebar-top a {
        padding-bottom: 10px;
        padding: 8px 10px;
        width: 200px;
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;
    }

    .sidebar-top a:hover {
        border-radius: 5px;
        background-color: #DCDFE4;
    }
}

.sidebar-workspaces {
    width: 100%;

    &__list {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 4px;

        .dropdown-item {
            width: 100%;
            transition: all 0.2s;
            border-radius: 4px;
            cursor: pointer;
            padding: 10px 8px;

            span {
                display: flex;
                gap: 10px;
                align-items: center;
            }


            &:hover {
                background-color: #DCDFE4;
            }

        }
    }
}