.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    width: 100%;

    hr {
        width: 100%;
    }

    .sidebar-top {
        font-weight: bold;
    }

    .sidebar-top a {
        padding-bottom: 10px;
        width: 200px;
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        transition: 270ms;
    }

    .sidebar-top a:hover {
        padding: 10px;
        border-radius: 5px;
        background-color: #DCDFE4;
    }

    .side-bars-icon {
        position: fixed;
        top: 50px;
        left: 20px;
    }

}

.dropdown {
    position: relative;
    width: 100%;
    max-width: 47.5rem;

    .dropdown-list {
        display: none;

        &.open {
            display: block;
        }
    }

    ul {
        margin-top: 10px;

        li {
            padding-top: 15px;

            span {
                width: 200px;
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
                transition: 270ms;

            }
        }

        li span:hover {
            padding: 10px;
            border-radius: 5px;
            background-color: #DCDFE4;
        }
    }

}

.dropdown-select {
    width: 100%;
    cursor: pointer;

    .dropdown-click {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        gap: 20px;
    }
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    height: 100vh;

}

.side-menu.active {
    left: 0;
    transition: 450ms;
}