@import '../../styles/mixins';

$subcard-width: 768px;

.wrapper {
  position: relative;

  .card-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
  }
}

.card-core {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: $subcard-width;
  height: 92.5vh;
  padding: 24px;
  border-radius: 16px;

  background-color: var(--backgroundColor-darker);

  .x-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;

    border-radius: 50%;
    color: white;

    svg {
      vertical-align: middle;
      font-size: 2.4rem;
    }
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 116px;
    border-radius: 16px 16px 0 0;

    + * {
      margin-top: 116px;
    }
  }

  .title {
    h1 {
      font-size: 3.6rem;
    }
  }

  .column-title {
    span {
      font-style: italic;
    }
  }

  .body {
    display: flex;

    &__details {
      width: 75%;

      > * {
        margin-top: 32px;
        h2 {
          display: flex;
          gap: 12px;
        }
      }

      &--labels .list {
        display: flex;
        gap: 4px;

        span {
          display: block;
          width: 48px;
          height: 32px;
          border-radius: 3px;

          cursor: pointer;
        }

        .add-labels-btn {
          position: relative;

          color: white;
          background-color: var(--backgroundColor-lighter);
          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    &__setting {
      display: flex;
      flex-direction: column;
      gap: 8px;

      width: 25%;

      h4:not(:first-of-type) {
        margin-top: 16px;
      }

      &--item {
        justify-content: start;

        background-color: var(--backgroundColor-lighter);

        &:hover {
          background-color: var(--backgroundColor);
        }
      }
    }
  }
}
