@import '../../../styles/variables';
@import '../../../styles/mixins';

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  height: fit-content;
  min-height: 119px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--backgroundColor);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    margin-bottom: 8px;
  }

  &__title input {
    width: 85%;

    padding: 0 4px;
    border: none;
    border-radius: 3px;

    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }

  &__title button {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.4rem;

    &:hover {
      background-color: var(--backgroundColor-lighter);
    }
  }

  &__title .column__title--edit {
    outline: 2px solid var(--createFormInput-borderBlueColor);
    background-color: var(--backgroundColor-lighter);
    cursor: text;
  }

  &__cards-list {
    margin-bottom: 8px;
  }

  .add-card-btn {
    justify-content: start;

    height: 40px;
    padding: 4px;

    border-radius: 6px;

    &:hover {
      background-color: var(--backgroundColor-lighter);
    }
  }
}

.column .setting-box {
  @include menuBox;

  top: 45px;
  right: -95%;
}