.card-wrapper {
position: relative;
margin: 10px;
height: 180px;
}

.createBtn {
    background-color: var(--createBoardBtn-bgColor);
    color: white;
    margin-right: 8px;
    display: block;
    margin: 0 5px;
    width: 15%;
    float: right;
    z-index: 100;
    bottom: 0px;
    right: 10px;
    position: absolute
  }
.text-editor-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
}

.display-descr {
    padding: 10px;
    border: 1px solid var(--lineColor);
    position: relative;
    position: absolute;
    top: 0px;
    left: 5px;
    width: 100%;
}
.editIcon {
    position: absolute;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
    z-index: 10
}

.hidden { 
    display: none !important;
}